body {
	background-color: #134659;
	font-size: "100%"
}#

p {
	font-size: 1em;
}

p.hidden {
	visibility: hidden;
}

p:hover {
	display:block;
}


img {
	width:30%;
	height:auto;
	padding:20px;
	opacity:.6;
	z-index: 1;
}

ul {list-style:none;}

ul div li {display:block;}

ul.top {margin-top: 20%;}

div {float:left;}

div.column {
	width:6%;
}

.text {width:20%;}

.grow {
	transition:all .5s ease-in-out;
}

.grow:active {
	transform:scale(10.1);
	position:relative;
}

.grow:hover {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	border-radius:0px;
	opacity:1;
	z-index:2;
	display:block;
}

span.text-content {
	background-color: #134659;
	color:white;
	display:block;
	padding:15px;
	left:20%;
	top:20%;
	position:absolute;
	height:auto;
	width:25%;
	opacity:0;
	z-index:3;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

ul div li:hover span.text-content {
	opacity:1;
	z-index:3;
}