/*links font to CSS*/
@font-face {
  font-family: Milo;
  src: url(fonts/MiloSerifPro.otf);
}

@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik-Regular.otf);
}

body {
	font-family: Milo, serif;
	overflow-y:scroll; /*sets the page to scroll when images are too large*/
	height:auto;
	background-color: #134659;
	font-size: "100%"
}

/*makes page size flexible*/
body.container {
	width:auto;
	height:auto;
}

/*sets font size*/
p {
	font-size: 1.5em;
	padding:0px;
	margin: 0px;
}

h1 {
	font-family: Rubik, sans-serif;
	font-size: 12vw;
	font-size:10em;
	width:auto;
	height:auto;
	color:white;
}

/*creates a centered white square*/
#square {
	width: 20px;
	height: 20px;
	background: white;
	padding: 0px;
	margin-left: auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:0px;
	float:top;
	display:block;
	opacity: .4;
}

/*changes opacity on hover*/
#square:hover {
	opacity: 1;
}

/*displays large header text*/
span.large-text {
	color:white;
	display:none;
	padding:0px;
	position:fixed;
	float:left;
	left:5%;
	margin-right:100px;
	margin-top:auto;
	height:auto;
	width:auto;
	opacity:0;
	z-index:4;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

/*changes visibility and opacity on displayed text*/
div#square:hover span.large-text {
	display:block;
	opacity:1;
	z-index:4;
	float:left;
}

/*sets minimum image width*/
img {
	width:30%;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	opacity: .6;
	z-index: 1;
	min-width:30px;
}

/*creates more vertical space between images*/
li.ten {
	padding-top:10px;
}

li.twenty {
	padding-top:20px;
}

li.thirty {
	padding-top:30px;
}

li.forty {
	padding-top:40px;
}

li.fifty {
	padding-top:50px;
}

/*removes bullets/decoration from lists*/
ul {
	list-style:none;
}

ul div li {
	display:block;
}

/*sets margins around block of divs*/
ul.top {
	margin:15%;
	margin-top:150px; /*sets minimum top margin*/
}

ul div li {
	position:relative;
	display:block;
	float:left; /*makes divs responsive to page size*/
	margin:auto;
}

/*sets minimum with of divs with images*/
div.column {
	display:block;
	float:left;
	width:8%;
	height:350px;
	min-width:60px;
}

/*smooth image transition*/
.grow {
	z-index:2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transforms image scale when clicked on if hover is not supported*/
.grow:active {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:0px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transform image scale on hover - top images*/
.grow:hover {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:90px;
	margin-bottom:10px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*smooth image transition*/
.grow-m {
	z-index:2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transforms image scale when clicked on if hover is not supported*/
.grow-m:active {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:0px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transform image scale on hover - middle images*/
.grow-m:hover {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:0px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*smooth image transition*/
.grow-b {
	z-index:2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transforms image scale when clicked on if hover is not supported*/
.grow-b:active {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:0px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*transform image scale on hover - bottom images*/
.grow-b:hover {
	transform:scale(15.1);
	max-height:400px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:-100px;
	opacity:1;
	z-index:2;
	display:block;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*displays text in upper left corner*/
span.text-left-t {
	color:white;
	display:block;
	padding:25px;
	left:0px;
	top:0px;
	position:fixed;
	float:left;
	height:auto;
	width:auto;
	visibility:hidden;
	opacity:0;
	z-index:3;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

/*displays text in lower left corner*/
span.text-left-b {
	color:white;
	display:block;
	padding:25px;
	left:0px;
	bottom:0px;	
	position:fixed;
	height:auto;
	width:auto;
	visibility:hidden;
	opacity:0;
	z-index:3;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

/*displays text in upper right corner*/
span.text-right-t {
	color:white;
	display:block;
	padding:25px;
	right:0px;
	top:0px;
	position:fixed;
	float:left;
	height:auto;
	width:auto;
	visibility:hidden;
	opacity:0;
	z-index:3;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

/*displays text in lower right corner*/
span.text-right-b {
	color:white;
	display:block;
	padding:25px;
	right:0px;
	bottom:0px;	
	position:fixed;
	height:auto;
	width:auto;
	visibility:hidden;
	opacity:0;
	z-index:3;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

/*changes opacity for displayed text*/
ul div li:hover span.text-left-t {
	opacity:1;
	visibility:visible;
	z-index:3;
}

ul div li:hover span.text-left-b{
	opacity:1;
	visibility:visible;
	z-index:3;
}

ul div li:hover span.text-right-t {
	opacity:1;
	visibility:visible;
	z-index:3;
}

ul div li:hover span.text-right-b {
	opacity:1;
	visibility:visible;
	z-index:3;
}

/*CSS for mobile screens only - larger text, images, and smaller scale change*/
@media only screen and (max-device-width: 480px) {
	body {
		overflow:scroll;
	}

    p {
		font-size: 5em;
		padding:10px;
		margin: 0px;
	}

	img {
		width:40%;
		height:auto;
		padding-top:50px;
		padding-bottom:50px;
		opacity: .6;
		z-index: 1;
		min-width:100px;
	}

	div {
		position:relative;
		display:block;
		float:left;
		min-width: 200px;
		height:280px;
		margin:auto;
	}

	div.column {
		display:block;
		float:left;
		width:8%;
		height:900px;
		min-width: 200px;
	}

	ul.top {
		margin:16.5%;
		margin-top:300px;
	}

	#square {
		width: 80px;
		height: 80px;
	}

	div#square:active span.large-text {
		visibility:visible;
		opacity:1;
		z-index:4;
		float:left;
	}

	.grow {
		z-index:2;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow:active {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow:hover {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-m {
		z-index:2;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-m:active {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-m:hover {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-b {
		z-index:2;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-b:active {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.grow-b:hover {
		transform:scale(6.1);
		max-width:200px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
}