@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");
@import url("https://fonts.googleapis.com/css?family=Rubik:900");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #0D2A52;
  overflow-x: hidden; }

p {
  padding: 0;
  margin: 0; }

:focus {
  outline: none; }

nav {
  position: fixed;
  background-color: #E6E6E6;
  top: 0;
  margin: 0;
  padding: 0;
  width: calc(100vw - 16px);
  z-index: 999; }

.header {
  display: inline-block;
  padding: 14px;
  margin: 0;
  width: calc(500% / 8 - 32px);
  border-color: #0D2A52;
  border-style: solid;
  border-width: 2px 1px; }

.header-sort {
  display: block;
  float: right;
  margin: 0;
  width: calc(300% / 8);
  border-color: #0D2A52;
  border-style: solid;
  border-width: 2px 1px; }

.sort {
  display: block;
  float: left;
  padding: 15px;
  margin: 0;
  width: calc(100% / 4.5);
  height: inherit;
  border-right: 2px solid #0D2A52;
  text-align: center; }
  .sort:hover {
    background-color: white; }

.about {
  display: block;
  float: right;
  padding: 15px;
  margin: 0;
  width: 51px;
  text-align: center; }
  .about:hover {
    background-color: white; }

.header-text {
  display: inline;
  font-family: "Karla", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 18px;
  width: auto;
  text-align: center; }

.pop-up {
  display: block;
  position: absolute;
  margin-top: 250px; }

.info-pop {
  display: block;
  margin-left: calc(100vw / 4 - 5px);
  width: calc(50vw - 50px);
  background-color: white;
  border: 2px solid #0D2A52;
  padding: 20px;
  z-index: 500; }

.method {
  display: block;
  margin-left: calc(100vw / 4 - 5px);
  margin-top: 0px;
  width: calc(50vw - 50px);
  background-color: #E6E6E6;
  border: 2px solid #0D2A52;
  border-top: none;
  padding: 20px;
  z-index: 500; }

.bold-text {
  color: #0D2A52;
  font-family: "Karla", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 150%; }

.reg-text {
  color: #0D2A52;
  font-family: "Karla", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 150%; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }
  .underline:hover {
    color: #1663CF; }

a {
  color: #0D2A52; }

.center {
  text-align: center; }

.icon {
  display: inline;
  width: 15px;
  height: auto;
  padding: 0 12px;
  /*margin: 1px;*/ }

.camera {
  display: inline-block;
  float: right;
  width: 20px;
  height: auto;
  padding: 0;
  /*margin: 1px;*/ }

.exit {
  display: block;
  float: right;
  width: 15px;
  height: auto;
  padding: 0; }

.title {
  color: #0D2A52;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.3125em;
  line-height: 21px;
  margin: 0;
  padding: 0; }

.type {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 0.9375em;
  margin: 0;
  padding: 0;
  padding-bottom: 5px; }

.address-date {
  font-family: "Karla", sans-serif;
  font-size: 1.3125em;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding: 0; }

.info {
  font-family: "Karla", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0; }

.more-info {
  font-family: "Karla", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0; }

.info-bold {
  font-family: "Karla", sans-serif;
  font-size: 1.0635em;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding: 0; }

.header-count {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  top: 0; }

.total {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 5px;
  padding-left: 0px; }

.total-type {
  display: inline;
  font-family: "Rubik", sans-serif;
  font-size: 1.125em;
  font-weight: 900;
  line-height: 18px;
  margin: 0;
  padding: 0; }

.count {
  display: block;
  float: left;
  color: #0D2A52;
  background-color: white;
  border: 1px solid #0D2A52;
  border-bottom: 2px solid #0D2A52;
  width: calc(100vw / 4 - 46px);
  height: 135px;
  padding: 10px 20px;
  margin-top: 50px; }

.demo-count:hover {
  color: #F5DC0F;
  background-color: #1663CF; }

.issue-count:hover {
  color: #F5DC0F;
  background-color: #C70F2E; }

.permit-count:hover {
  background-color: #F77136; }

.auction-count:hover {
  background-color: #F5DC0F; }

.l-bricks {
  padding-top: 50vh;
  width: calc(100vw - 16px);
  z-index: 0;
  /*background-color: white;*/ }

#bricks {
  z-index: 0; }

.image {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 50%; }

/*brick sizes*/
.large-brick {
  display: block;
  float: left;
  width: calc(100vw / 2 - 30px);
  height: 250px;
  padding: 10px; }

.brick {
  display: block;
  float: left;
  width: calc(100vw / 4 - 26px);
  height: 135px;
  padding: 10px; }

.half-brick {
  display: block;
  float: left;
  width: calc(50vw / 4 - 24px);
  height: 60px;
  padding: 10px; }

.quarter-brick {
  display: block;
  float: left;
  width: calc(25vw / 4 - 13px);
  height: 25px;
  padding: 5px; }

.eighth-brick {
  display: block;
  float: left;
  width: calc(25vw / 8 - 10.5px);
  height: 12px;
  padding: 4px; }

.sixteenth-brick {
  display: block;
  float: left;
  width: calc(25vw / 16 - 8.25px);
  height: 5px;
  padding: 2px 3px; }

/*brick colors*/
.demo {
  color: #F5DC0F;
  background-color: #1663CF;
  border: 1px solid #0D2A52;
  /*&:hover {
  	background-color: $dark-blue;
  }*/ }

.l-issue-pic {
  display: block;
  float: left;
  width: calc(50% - 10px);
  padding: 0;
  margin: 0;
  overflow-y: scroll; }
  .l-issue-pic::-webkit-scrollbar {
    width: 0px; }

.l-issue {
  display: block;
  float: left;
  width: calc(100% - 30px);
  padding: 0;
  margin: 0; }

.issue {
  color: #F5DC0F;
  background-color: #C70F2E;
  border: 1px solid #0D2A52;
  /*&:hover {
  	background-color: $dark-blue;
  }*/ }

.permit {
  color: #0D2A52;
  background-color: #F77136;
  border: 1px solid #0D2A52;
  /*&:hover {
  	background-color: white;
  }*/ }

.sale {
  color: #0D2A52;
  background-color: #F5DC0F;
  border: 1px solid #0D2A52;
  /*&:hover {
  	background-color: white;
  }*/ }

/* checkbox label styling */
/*.form-title {
	font-family: $karla;
	font-weight: $reg;
	font-size: $eighteen;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}*/
#demoOption {
  width: 100%; }

#year-form {
  position: fixed;
  right: 0;
  color: #0D2A52;
  background-color: #E6E6E6;
  border: 2px solid #0D2A52;
  width: calc(100vw / 4 - 26px);
  height: 135px;
  padding: 10px 20px;
  margin-top: 51px;
  z-index: 600; }

#brick-form {
  position: fixed;
  right: 0;
  color: #0D2A52;
  background-color: #E6E6E6;
  border: 2px solid #0D2A52;
  width: calc(100vw / 4 - 26px);
  height: 135px;
  padding: 10px 20px;
  margin-top: 51px;
  z-index: 600; }

.form-option {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.0635em;
  margin-left: 25px; }

/* checkboxes */
input[type="checkbox"] {
  display: none; }

.l-checkbox {
  margin-bottom: 15px; }
  .l-checkbox label {
    position: relative; }
  .l-checkbox span::before,
  .l-checkbox span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0; }
  .l-checkbox span.checkbox::before {
    width: 15px;
    height: 15px;
    background-color: white;
    left: -25px; }
  .l-checkbox span.checkbox:hover::before {
    background-color: #0D2A52; }
  .l-checkbox span.checkbox::after {
    left: -25px;
    width: 15px;
    height: 15px;
    color: transparent;
    transition: color .2s; }
  .l-checkbox input[type="checkbox"]:checked + label span.checkbox::after {
    background-color: #0D2A52;
    height: 15px;
    width: 15px; }

/* large brick offeset */
#bricks div.large-brick:nth-child(3) {
  margin-left: calc(100vw / 4 - 4px); }

#bricks div.large-brick:nth-child(3n+3) {
  margin-left: calc(100vw / 4 - 4px); }

/*regular brick offset*/
#bricks div.brick:nth-child(5) {
  margin-left: calc(100vw / 8); }

#bricks div.brick:nth-child(7n+5) {
  margin-left: calc(100vw / 8); }

/*half brick offset*/
#bricks div.half-brick:nth-child(9) {
  margin-left: calc(50vw / 8); }

#bricks div.half-brick:nth-child(15n+9) {
  margin-left: calc(50vw / 8); }

/*quarter brick offset*/
#bricks div.quarter-brick:nth-child(17) {
  margin-left: calc(25vw / 8); }

#bricks div.quarter-brick:nth-child(31n+17) {
  margin-left: calc(25vw / 8); }

/*eighth brick offset*/
#bricks div.eighth-brick:nth-child(33) {
  margin-left: calc(25vw / 16); }

#bricks div.eighth-brick:nth-child(63n+33) {
  margin-left: calc(25vw / 16); }

/*sixteenth brick offset*/
#bricks div.sixteenth-brick:nth-child(65) {
  margin-left: calc(25vw / 32); }

#bricks div.sixteenth-brick:nth-child(127n+65) {
  margin-left: calc(25vw / 32); }

/* phone media query */
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .title {
    font-size: 1.125em; }

  .header {
    width: 100%;
    border-width: 2px 1px 1px 1px; }

  .header-sort {
    width: 100%;
    border-width: 1px 1px 2px 1px; }

  .header-text {
    font-size: 1.3125em; }

  #year-form {
    width: 50%;
    margin-top: 100px; }

  #brick-form {
    width: 50%;
    margin-top: 100px; }

  .count {
    margin-top: 100px;
    height: 100px; }

  .total {
    font-size: 1.3125em; }

  .total-type {
    font-size: 1.125em;
    line-height: 150%; }

  .info-pop {
    width: calc(100% - 40px);
    margin: 0;
    font-size: 1.3125em;
    line-height: 150%; }

  .method {
    width: calc(100% - 40px);
    margin: 0;
    font-size: 1.3125em;
    line-height: 150%; }

  /*.brick {
  	font-size: $twenty-one;
  	line-height: 150%;
  }*/ }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100%;
    border-width: 2px 1px 1px 1px; }

  .header-sort {
    width: 100%;
    border-width: 1px 1px 2px 1px; }

  .count {
    margin-top: 100px;
    height: 100px; }

  .total {
    font-size: 1.3125em; }

  .total-type {
    font-size: 1.125em;
    line-height: 150%; }

  .info-pop {
    width: 80%;
    margin: auto;
    font-size: 1.3125em;
    line-height: 150%; }

  .method {
    width: 80%;
    margin: auto;
    font-size: 1.3125em;
    line-height: 150%; } }

/*# sourceMappingURL=index.css.map */
