@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

$rubik-mono: 'Rubik Mono One', sans-serif;
$rubik: 'Rubik', sans-serif;
$karla: 'Karla', sans-serif;

$black: 900;
$bold: 700;
$reg: 400;

$dark-blue: #0D2A52;
$blue: #1663CF;
$red: #C70F2E;
$orange: #F77136;
$yellow: #F5DC0F;
$light-gray: #E6E6E6;

$forty-eight: 3em;
$twenty-one: 1.3125em;
$eighteen: 1.125em;
$seventeen: 1.0635em;
$fifteen: 0.9375em;

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	background-color: $dark-blue;
	overflow-x: hidden;
}

p {
	padding: 0;
	margin: 0;
}

:focus {
	outline: none;
}

nav {
	position: fixed;
	background-color: $light-gray;
	top: 0;
	margin: 0;
	padding: 0;
	width: calc(100vw - 16px);
	z-index: 999;
}


.header {
	display: inline-block;
	/*float: left;*/
	padding: 14px;
	margin: 0;
	width: calc(500% / 8 - 32px);
	border-color: $dark-blue;
	border-style: solid;
	border-width: 2px 1px;
}

.header-sort {
	display: block;
	float: right;
	margin: 0;
	width: calc(300% / 8);
	border-color: $dark-blue;
	border-style: solid;
	border-width: 2px 1px;
}

.sort {
	display: block;
	float: left;
	padding: 15px;
	margin: 0;
	width: calc(100% / 4.5);
	height: inherit;
	border-right: 2px solid $dark-blue;
	text-align: center;

	&:hover {
		background-color: white;
	}
}

.about {
	display: block;
	float: right;
	padding: 15px;
	margin: 0;
	width: 51px;
	text-align: center;

	&:hover {
		background-color: white;
	}
}

.header-text {
	display: inline;
	font-family: $karla;
	font-size: $eighteen;
	font-weight: $bold;
	line-height: 18px;
	width: auto;
	text-align: center;
}

.pop-up {
	display: block;
	position: absolute;
	margin-top: 250px;
}

.info-pop {
	display: block;
	margin-left: calc(100vw / 4 - 5px); 
	width: calc(50vw - 50px);
	background-color: white;
	border: 2px solid $dark-blue;
	padding: 20px;
	z-index: 500;
}

.method {
	display: block;
	margin-left: calc(100vw / 4 - 5px); 
	margin-top: 0px;
	width: calc(50vw - 50px);
	background-color: $light-gray;
	border: 2px solid $dark-blue;
	border-top: none;
	padding: 20px;
	z-index: 500;
}

.bold-text {
	color: $dark-blue;
	font-family: $karla;
	font-size: $eighteen;
	font-weight: $bold;
	line-height: 150%;
}

.reg-text {
	color: $dark-blue;
	font-family: $karla;
	font-size: $eighteen;
	font-weight: $reg;
	line-height: 150%;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;

	&:hover {
		color: $blue;
	}
}

a {
	color: $dark-blue;
}

.center {
	text-align: center;
}

.icon {
	display: inline;
	width: 15px;
	height: auto;
	padding: 0 12px;
	/*margin: 1px;*/
}

.camera {
	display: inline-block;
	float: right;
	width: 20px;
	height: auto;
	padding: 0;
	/*margin: 1px;*/
}

.exit {
	display: block;
	float: right;
	width: 15px;
	height: auto;
	padding: 0;
}

.title {
	color: $dark-blue;
	font-family: $rubik-mono;
	font-size: $twenty-one;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.type {
	font-family: $rubik-mono;
	font-size: $fifteen;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.address-date {
	font-family: $karla;
	font-size: $twenty-one;
	font-weight: $bold;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.info {
	font-family: $karla;
	font-size: $eighteen;
	font-weight: $reg;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.more-info {
	font-family: $karla;
	font-size: $eighteen;
	font-weight: $reg;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.info-bold {
	font-family: $karla;
	font-size: $seventeen;
	font-weight: $bold;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.header-count {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100vw;
	top: 0;
}

.total {
	font-family: $rubik-mono;
	font-size: $forty-eight;
	margin: 0;
	padding: 5px;
	padding-left: 0px;
}

.total-type {
	display: inline;
	font-family: $rubik;
	font-size: $eighteen;
	font-weight: $black;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.count {
	display: block;
	float: left;
	color: $dark-blue;
	background-color: white;
	border: 1px solid $dark-blue;
	border-bottom: 2px solid $dark-blue;
	width: calc(100vw / 4 - 46px);
	height: 135px;
	padding: 10px 20px;
	margin-top: 50px;
}

.demo-count:hover {
	color: $yellow;
	background-color: $blue;
}

.issue-count:hover {
	color: $yellow;
	background-color: $red;
}

.permit-count:hover {
	background-color: $orange;
}

.auction-count:hover {
	background-color: $yellow;
}



.l-bricks {
	padding-top: 50vh;
	width: calc(100vw - 16px);
	z-index: 0;
	/*background-color: white;*/
}

#bricks {
	z-index: 0;
}

.image {
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
	height: 100%;
	max-width: 50%;
}

/*brick sizes*/

.large-brick {
	display: block;
	float: left;
	width: calc(100vw / 2 - 30px);
	height: 250px;
	padding: 10px;
}

.brick {
	display: block;
	float: left;
	width: calc(100vw / 4 - 26px);
	height: 135px;
	padding: 10px;
}

.half-brick {
	display: block;
	float: left;
	width: calc(50vw / 4 - 24px);
	height: 60px;
	padding: 10px;
}

.quarter-brick {
	display: block;
	float: left;
	width: calc(25vw / 4 - 13px);
	height: 25px;
	padding: 5px;
}

.eighth-brick {
	display: block;
	float: left;
	width: calc(25vw / 8 - 10.5px);
	height: 12px;
	padding: 4px;
}

.sixteenth-brick {
	display: block;
	float: left;
	width: calc(25vw / 16 - 8.25px);
	height: 5px;
	padding: 2px 3px;
}

/*brick colors*/

.demo {
	color: $yellow;
	background-color: $blue;
	border: 1px solid $dark-blue;

	/*&:hover {
		background-color: $dark-blue;
	}*/
}

.l-issue-pic {
	display: block;
	float: left;
	width: calc(50% - 10px);
	padding: 0;
	margin: 0;
	overflow-y: scroll;

	&::-webkit-scrollbar { 
    	width: 0px; 
	}
}

.l-issue {
	display: block;
	float: left;
	width: calc(100% - 30px);
	padding: 0;
	margin: 0;
}

.issue {
	color: $yellow;
	background-color: $red;
	border: 1px solid $dark-blue;

	/*&:hover {
		background-color: $dark-blue;
	}*/
}

.permit {
	color: $dark-blue;
	background-color: $orange;
	border: 1px solid $dark-blue;

	/*&:hover {
		background-color: white;
	}*/
}

.sale {
	color: $dark-blue;
	background-color: $yellow;
	border: 1px solid $dark-blue;

	/*&:hover {
		background-color: white;
	}*/
}

/* checkbox label styling */

/*.form-title {
	font-family: $karla;
	font-weight: $reg;
	font-size: $eighteen;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}*/

#demoOption {
	width: 100%;
}

#year-form {
	position: fixed;
	right: 0;
	color: $dark-blue;
	background-color: $light-gray;
	border: 2px solid $dark-blue;
	width: calc(100vw / 4 - 26px);
	height: 135px;
	padding: 10px 20px;
	margin-top: 51px;
	z-index: 600;
}

#brick-form {
	position: fixed;
	right: 0;
	color: $dark-blue;
	background-color: $light-gray;
	border: 2px solid $dark-blue;
	width: calc(100vw / 4 - 26px);
	height: 135px;
	padding: 10px 20px;
	margin-top: 51px;
	z-index: 600;
}

.form-option {
	font-family: $karla;
	font-weight: $bold;
	font-size: $seventeen;
	margin-left: 25px;
}

/* checkboxes */

input[type="checkbox"] {
	display: none;
}

.l-checkbox {
	margin-bottom: 15px;

	label {
		position: relative;
	}

	span::before,
	span::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		padding: 0;
	}

	span.checkbox::before {
		width: 15px;
		height: 15px;
		background-color: white;
		left: -25px;
	}

	span.checkbox:hover::before {
  		background-color: $dark-blue;
	}
	
	span.checkbox::after {	
		left: -25px;
		width: 15px;
		height: 15px;
		color: transparent;
		transition: color .2s;
	}

	input[type="checkbox"]:checked + label span.checkbox::after {
	  	background-color: $dark-blue;
	  	height: 15px;
	  	width: 15px;
	}

}

/* large brick offeset */

#bricks div.large-brick:nth-child(3) {
	margin-left: calc(100vw / 4 - 4px);
}

#bricks div.large-brick:nth-child(3n+3) {
	margin-left: calc(100vw / 4 - 4px);
}

/*regular brick offset*/

#bricks div.brick:nth-child(5) {
	margin-left: calc(100vw / 8);
}

#bricks div.brick:nth-child(7n+5) {
	margin-left: calc(100vw / 8);
}

/*half brick offset*/

#bricks div.half-brick:nth-child(9) {
	margin-left: calc(50vw / 8);
}

#bricks div.half-brick:nth-child(15n+9) {
	margin-left: calc(50vw / 8);
}

/*quarter brick offset*/

#bricks div.quarter-brick:nth-child(17) {
	margin-left: calc(25vw / 8);
}

#bricks div.quarter-brick:nth-child(31n+17) {
	margin-left: calc(25vw / 8);
}

/*eighth brick offset*/

#bricks div.eighth-brick:nth-child(33) {
	margin-left: calc(25vw / 16);
}

#bricks div.eighth-brick:nth-child(63n+33) {
	margin-left: calc(25vw / 16);
}

/*sixteenth brick offset*/

#bricks div.sixteenth-brick:nth-child(65) {
	margin-left: calc(25vw / 32);
}

#bricks div.sixteenth-brick:nth-child(127n+65) {
	margin-left: calc(25vw / 32);
}