@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i");
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
  transition: .3s; }

/* header */
/*--------*/
.header {
  background-color: #000000;
  padding: 15px 50px;
  margin: 0;
  width: calc(100vw - 100px);
  position: fixed;
  text-align: center;
  transition: .3s; }

h1 {
  display: inline-block;
  float: left;
  color: #f1f1f2;
  font-family: "Work Sans", sans-serif;
  font-size: 21px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  padding-left: calc(100% / 3 - 6px);
  margin: 0;
  width: calc(100% / 3);
  z-index: 0; }
  h1:hover {
    color: #00AA81;
    transition: .2s;
    webkit-transition: .2s; }

.currently {
  display: inline-block;
  float: right;
  color: #f1f1f2;
  font-family: "Anonymous Pro", monospace;
  font-size: 1.0625em;
  line-height: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  width: calc(100% / 3);
  padding: 0;
  margin: 0;
  /*width: calc(100%/3);*/
  z-index: 20; }

/* content container */
.container {
  margin: 50px 50px 0 50px;
  height: 100vh;
  /*width: 100vw;*/
  display: block;
  float: left; }

/* navigation layout */
/*-------------------*/
.l-nav {
  display: block;
  float: left;
  margin: 0;
  /*height: 90vh;*/
  height: calc(100vh - 50px);
  /*width: calc(100vh - 100px);*/
  z-index: 999;
  background-color: #2B2B33;
  /*width: 100%;*/
  /*position: fixed;*/
  /*overflow: scroll;*/ }

.l-nav-link {
  display: block;
  float: left;
  width: calc(100vw / 2 - 200px);
  height: calc(100vh / 2 - 175px);
  /*width: calc(50vh-50px);*/
  /*padding: 60px 0 60px 60px;*/
  padding: 0;
  text-decoration: none; }

/* navigation links */
/*------------------*/
.l-about {
  padding: 100px 50px 50px 100px; }

.about-link {
  color: #ffffff; }
  .about-link:hover {
    background-color: #000000; }

.l-bedroom {
  padding: 100px 100px 50px 50px; }

.bedroom-link {
  color: #AAE2CB; }
  .bedroom-link:hover {
    background-color: #00AA81; }

.l-essay {
  padding: 50px 50px 100px 100px; }

.essay-link {
  color: #DAE5AE; }
  .essay-link:hover {
    background-color: #BCB826; }

.l-info {
  padding: 50px 100px 100px 50px; }

.infographic-link {
  color: #FFB699; }
  .infographic-link:hover {
    background-color: #EA5449; }

/* navigation font styling */
/*-------------------------*/
.nav-header {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2.125em;
  padding: 0;
  margin: 0;
  margin-bottom: 5px; }

.nav-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 3.25em;
  padding: 0;
  margin: 0; }

.nav-description {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 1.0625em;
  padding-top: 10px;
  margin: 0; }

/* object styles */
/*---------------*/
.l-block {
  display: block;
  float: left;
  position: fixed;
  margin: 0;
  height: calc(100vh - 30px);
  overflow: scroll;
  z-index: -10;
  width: calc(100vw - 100px);
  /*text-align: center;*/ }

.object-list {
  padding-top: 50px; }

.object {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 1.0625em;
  line-height: 150%;
  margin: 0;
  margin-top: 5px;
  padding: 10px 30%;
  text-align: center;
  background-color: #ffffff;
  transition: .2s; }
  .object:hover {
    background-color: #ffffff; }

.object-right {
  padding: 10px 0 10px 50%; }

.stored:hover {
  color: #2B2B33; }

.meaning {
  padding: 15px 30%;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff; }

.details {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 150%;
  padding: 0;
  padding-bottom: 15px;
  margin: 0; }

.tag {
  display: inline;
  color: #434349;
  background-color: #f1f1f2;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 12px;
  padding: 3px 5px;
  margin: 5px; }

/* label dropdown */
/*----------------*/
.jumpto {
  display: block;
  float: left;
  position: fixed; }

.l-label {
  width: calc(100vw - 151px);
  padding: 5px 10px 5px 35px;
  transition: .2s; }

.dropdown {
  width: calc(100vw - 116px);
  padding: 5px;
  transition: .2s; }

.bg-label-light {
  background-color: #d0d2d3; }
  .bg-label-light:hover {
    background-color: #f1f1f2; }

.bg-label-dark {
  background-color: #2B2B33; }
  .bg-label-dark:hover {
    background-color: #434349; }

.bg-dropdown {
  background-color: #35353D; }
  .bg-dropdown:hover {
    background-color: #434349; }

.bg-dropdown-light {
  background-color: #e6e7e8; }
  .bg-dropdown-light:hover {
    background-color: white; }

.label {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 150%;
  margin: 0;
  text-align: center; }

.down-arrow {
  width: 15px;
  display: block;
  float: right;
  padding: 6px;
  margin: auto; }

/* longer text styles */
/*--------------------*/
.l-quote {
  padding: 125px;
  margin: 0; }

.l-text {
  padding: 50px 30%;
  margin: 0; }

.long-text {
  color: #2B2B33;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 170%;
  margin: 0;
  /*margin-bottom: 30px;*/ }

.quote {
  color: #2B2B33;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 3.25em;
  line-height: 140%;
  text-align: center;
  margin: 0; }

.attribution {
  color: #2B2B33;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 1.0625em;
  text-align: center;
  line-height: 150%;
  padding: 15px 0;
  margin: 0; }

/* general labels */
/*----------------*/
.l-text-label {
  width: calc(100% - 10px);
  padding: 5px;
  margin: 5px 0; }

.text-label {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.0625em;
  line-height: 150%;
  margin: 0;
  text-align: center; }

.long-caption {
  display: inline-block;
  text-align: left;
  width: 35vw;
  padding: 0 1vw; }

.short-caption {
  display: inline-block;
  text-align: center;
  width: 35vw;
  padding: 0 1 vw; }

.cap-title {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  /*text-align: left;*/
  padding-top: 10px;
  border-top: 1px solid #939598; }

.caption-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  /*text-align: left;*/
  font-size: 14px;
  line-height: 170%; }

/* image layout and styles */
/*-------------------------*/
.l-images {
  width: calc(100% - 60px);
  height: auto;
  background-color: white;
  padding: 30px;
  text-align: center;
  margin: 50px 0; }

.image {
  display: inline-block;
  float: center;
  width: 25vw;
  padding: 0 1vw;
  top: 0; }

/* infographics */
/*--------------*/
.height-block {
  min-height: calc(100vh - 50px);
  /*text-align: center;*/ }

#display-circle {
  /*margin: 15px;*/
  margin: 15px auto;
  background-color: #434349;
  width: 187px;
  height: 187px;
  border-radius: 50%;
  transition: .2s; }
  #display-circle:hover {
    background-color: #EA5449; }

#stored-circle {
  /*margin: 15px;*/
  margin: 15px auto;
  background-color: #2B2B33;
  width: 241px;
  height: 241px;
  border-radius: 50%;
  transition: .2s; }
  #stored-circle:hover {
    background-color: #EA5449; }

/* sorting form */
/*--------------*/
.sort-sidebar {
  position: fixed; }

.search-bar {
  display: block;
  float: left;
  padding: 15px 12px 0 13px;
  height: 100vh;
  transition: 1s; }

.bg-med-gray {
  background-color: #e6e7e8; }
  .bg-med-gray:hover {
    background-color: #AAE2CB; }

.bg-sidebar-dark {
  background-color: #2B2B33; }

#sidebar-stored {
  background-color: #35353D; }
  #sidebar-stored:hover {
    background-color: #00AA81; }

.search-icon {
  width: 25px;
  margin: 0;
  padding: 0; }

.l-sort {
  display: block;
  float: left;
  width: calc(50vw - 206px);
  height: 100vh;
  padding: 50px; }

.form-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2.125em;
  padding: 0;
  margin: 0;
  margin-bottom: 15px; }

.form-option {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3215em;
  margin-left: 35px; }

/* displayed checkboxes */
/*----------------------*/
input[type="radio"] {
  display: none; }

.l-checkbox {
  margin-bottom: 15px;
  /* stored checkboxes */
  /*-------------------*/ }
  .l-checkbox label {
    position: relative; }
  .l-checkbox span::before,
  .l-checkbox span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0; }
  .l-checkbox span.checkbox::before {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    left: -35px;
    /*box-sizing: border-box;*/
    /*transition: border-color .2s;*/ }
  .l-checkbox span.checkbox:hover::before {
    /*border: 1px solid $dark-blue;*/
    background-color: #AAE2CB; }
  .l-checkbox span.checkbox::after {
    left: -35px;
    width: 20px;
    height: 20px;
    color: transparent;
    transition: color .2s; }
  .l-checkbox input[type="radio"]:checked + label span.checkbox::after {
    content: url(checkbox.svg);
    height: 15px;
    width: 15px;
    top: -8px;
    padding: 2px; }
  .l-checkbox span.s-checkbox::before {
    width: 20px;
    height: 20px;
    background-color: #434349;
    left: -35px;
    /*box-sizing: border-box;*/
    /*transition: border-color .2s;*/ }
  .l-checkbox span.s-checkbox:hover::before {
    /*border: 1px solid $dark-blue;*/
    background-color: #00AA81; }
  .l-checkbox span.s-checkbox::after {
    left: -35px;
    width: 20px;
    height: 20px;
    color: transparent;
    transition: color .2s; }
  .l-checkbox input[type="radio"]:checked + label span.s-checkbox::after {
    content: url(checkbox-light.svg);
    height: 15px;
    width: 15px;
    top: -8px;
    padding: 2px; }

/* navigation to / from displayed / sorted objects */
/*-------------------------------------------------*/
.square-label {
  position: fixed;
  bottom: 0;
  right: 50px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.3215em;
  color: #00AA81;
  padding: 10px; }
  .square-label:hover {
    color: #AAE2CB; }

#square {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #00AA81;
  width: 50px;
  height: 50px;
  transition: .2s; }
  #square:hover {
    background-color: #AAE2CB; }

.arc-label {
  position: fixed;
  bottom: 0;
  right: 50px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.3215em;
  color: #AAE2CB;
  padding: 10px; }
  .arc-label:hover {
    color: #00AA81; }

#arc {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #AAE2CB;
  width: 50px;
  height: 50px;
  border-radius: 0 50px 0 0;
  transition: .2s; }
  #arc:hover {
    background-color: #00AA81; }

/* background colors */
/*-------------------*/
.bg-white {
  background-color: #ffffff; }

.bg-light-gray {
  background-color: #f1f1f2; }

.bg-dark-gray {
  background-color: #d0d2d3; }

.bg-black {
  background-color: black; }

.bg-dark-blue {
  background-color: #2B2B33; }

.bg-l-dark-blue {
  background-color: #35353D; }

/* text colors */
/*-------------*/
.t-gray {
  color: #939598; }

.t-dark-blue {
  color: #2B2B33; }

.t-light-gray {
  color: #f1f1f2; }

.t-green {
  color: #00AA81; }
  .t-green:hover {
    color: #00AA81; }

.t-yellow {
  color: #BCB826; }
  .t-yellow:hover {
    color: #BCB826; }

.t-blue {
  color: #4C5F89; }
  .t-blue:hover {
    color: #4C5F89; }

/* scrollbar styling */
/*-------------------*/
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background-color: #a6a8ab; }

/*# sourceMappingURL=index.css.map */
