<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Open House</title>
<!-- links to CSS -->
	<link rel="stylesheet" type="text/css" href="index.css">
<!-- meta data -->
	<meta charset="UTF-8">
	<meta name="description" content="Open House">
	<meta name="keywords" content="ownership, objects">
</head>
<body class="bg-white">
	<!-- header -->
	<nav id="navigation" class="header bg-white">
		<h1 class="t-dark-blue" id="h1">house</h1>
		<p class="currently t-dark-blue" id="currently">currently: infographics</p>
	</nav>
<!-- navigation -->
	<nav class="container" id="links">
		<div class="l-nav">
			<a href="about.html" class="l-nav-link about-link l-about">
				<p class="nav-header">about</p>
				<p class="nav-title">open house</p>
				<p class="nav-description">influences, process, and its owner, Taylor</p>
			</a>
			<a href="index.html" class="l-nav-link bedroom-link l-bedroom">
				<p class="nav-header">bedroom</p>
				<p class="nav-title">memories of 381 objects</p>
				<p class="nav-description">displayed and stored</p>
			</a>
			<a href="essay.html" class="l-nav-link essay-link l-essay">
				<p class="nav-header">essay</p>
				<p class="nav-title">open house: an exploration of ownership</p>
				<p class="nav-description">by Taylor Simpson</p>
			</a>
			<a href="data.html" class="l-nav-link infographic-link l-info">
				<p class="nav-header">infographics</p>
				<p class="nav-title">looking at what I own as a whole</p>
				<p class="nav-description">numbers by category</p>
			</a>
		</div>
	</nav>
	<div class="container">
		<div class="l-block bg-light-gray">
			<div class="jumpto">
				<div class="l-label bg-label-dark">
					<p class="label t-light-gray">category<img src="down-arrow.svg" class="down-arrow"></p>
				</div>
				<!-- full dropdown for about section -->
				<!-- <div class="l-dropdown">	
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">overview</p>
					</div>
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">by classification/p>
					</div>
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">by location acquired at</p>
					</div>
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">by year</p>
					</div>
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">by how they were acquired</p>
					</div>
					<div class="dropdown bg-dropdown">
						<p class="label t-light-gray">by person</p>
					</div>
				</div> -->
			</div>
			<!-- <div class="l-text-label bg-white">
				<p class="text-label t-dark-blue">overview</p>
			</div> -->
			<div class="height-block bg-black">
				<div id="display-circle"></div>
				<div id="stored-circle"></div>
				<div class="l-info-quote">
					<p class="quote t-light-gray">I own 421 objects located in my bedroom in Baltimore. <span>181 are on display.</span> <span>240 are in storage.</span></p>
				</div>
			</div>
			<div class="height-block">
				<form>
					<p class="form-title t-dark-blue">classification</p>
					<div class="l-checkbox">
				  		<input type="checkbox" name="sort" id="ibeautiful">
				  		<label for="ibeautiful" class="form-option t-dark-blue"><span class="checkbox">beautiful</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		 <input type="checkbox" name="sort" id="iboth" class="checkbox">
				  		<label for="iboth" class="form-option t-dark-blue"><span class="checkbox">both</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		<input type="checkbox" name="sort" id="ipractical" class="checkbox">
				 		<label for="ipractical" class="form-option t-dark-blue"><span class="checkbox">practical</span></label><br>
				 	</div>
				</form>
				<form>
					<p class="form-title t-dark-blue">year</p>
					<div class="l-checkbox">
				  		<input type="checkbox" id="i03">
				  		<label for="i03" class="form-option t-dark-blue"><span class="checkbox">2003</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		 <input type="checkbox" id="i05" class="checkbox">
				  		<label for="i05" class="form-option t-dark-blue"><span class="checkbox">2005</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		<input type="checkbox" id="i06" class="checkbox">
				 		<label for="i06" class="form-option t-dark-blue"><span class="checkbox">2006</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i07" class="checkbox">
				 		<label for="i07" class="form-option t-dark-blue"><span class="checkbox">2007</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i08" class="checkbox">
				 		<label for="i08" class="form-option t-dark-blue"><span class="checkbox">2008</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i09" class="checkbox">
				 		<label for="i09" class="form-option t-dark-blue"><span class="checkbox">2009</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i10" class="checkbox">
				 		<label for="i10" class="form-option t-dark-blue"><span class="checkbox">2010</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i11" class="checkbox">
				 		<label for="i11" class="form-option t-dark-blue"><span class="checkbox">2011</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i12" class="checkbox">
				 		<label for="i12" class="form-option t-dark-blue"><span class="checkbox">2012</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i13" class="checkbox">
				 		<label for="i13" class="form-option t-dark-blue"><span class="checkbox">2013</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i14" class="checkbox">
				 		<label for="i14" class="form-option t-dark-blue"><span class="checkbox">2014</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i15" class="checkbox">
				 		<label for="i15" class="form-option t-dark-blue"><span class="checkbox">2015</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i16" class="checkbox">
				 		<label for="i16" class="form-option t-dark-blue"><span class="checkbox">2016</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="i17" class="checkbox">
				 		<label for="i17" class="form-option t-dark-blue"><span class="checkbox">2017</span></label><br>
				 	</div>
				</form>
				<form>
					<p class="form-title t-dark-blue">acquired how</p>
					<div class="l-checkbox">
				  		<input type="checkbox" id="ifnew">
				  		<label for="ifnew" class="form-option t-dark-blue"><span class="checkbox">found new</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		 <input type="checkbox" id="ifused" class="checkbox">
				  		<label for="ifused" class="form-option t-dark-blue"><span class="checkbox">found used</span></label><br>
				  	</div>
				  	<div class="l-checkbox">
				 		<input type="checkbox" id="ignew" class="checkbox">
				 		<label for="ignew" class="form-option t-dark-blue"><span class="checkbox">given new</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="igused" class="checkbox">
				 		<label for="igused" class="form-option t-dark-blue"><span class="checkbox">given used</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="imade" class="checkbox">
				 		<label for="imade" class="form-option t-dark-blue"><span class="checkbox">made</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="ipnew" class="checkbox">
				 		<label for="ipnew" class="form-option t-dark-blue"><span class="checkbox">purchased new</span></label><br>
				 	</div>
				 	<div class="l-checkbox">
				 		<input type="checkbox" id="ipused" class="checkbox">
				 		<label for="ipused" class="form-option t-dark-blue"><span class="checkbox">purchased used</span></label><br>
				 	</div>
				</form>
				<script type="text/html" id="infographic_div">
					<p><%= numberItems + " " + "objects" %></p>
					<svg width="<%= numberItems %>" height="<%= numberItems %>" viewBox="0 0 <%= numberItems %> <%= numberItems %>" xmlns="http://www.w3.org/2000/svg">
							<circle cx="<%= numberItems / 2 %>" cy="<%= numberItems / 2 %>" r="<%= numberItems / 2 %>" fill="<%= numberItems %>" transition="1s"></circle>
					</svg>
				
				</script>
				
				<div id="circle_target"></div>
			</div>
		<!-- objects by how they were acquired -->
			<div class="height-block">
				<div class="l-text-label bg-white">
					<p class="text-label t-dark-blue">objects by how they were acquired</p>
				</div>
			</div>
		<!-- objects by classification -->
			<div class="height-block">
				<div class="l-text-label bg-white">
					<p class="text-label t-dark-blue">objects by classification</p>
				</div>
			</div>
		<!-- objects by year -->
			<div class="height-block">
				<div class="l-text-label bg-white">
					<p class="text-label t-dark-blue">objects by category</p>
				</div>
			</div>
		<!-- objects by location -->
			<div class="height-block">
				<div class="l-text-label bg-white">
					<p class="text-label t-dark-blue">objects by location acquired at</p>
				</div>
			</div>
		<!-- objects by category -->
			<div class="height-block">
				<div class="l-text-label bg-white">
					<p class="text-label t-dark-blue">objects by category</p>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="info.js"></script>
    <script src="index.js"></script>
</body>
</html>